.breakfast-page {
  padding: 2rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

.breakfast-page h1 {
  text-align: center;
  color: black;
  margin-bottom: 5%;
}
.dark .breakfast-page h1{
    color: white;
}

.breakfast-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.breakfast-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 260px;
  cursor: pointer;
}

.breakfast-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.breakfast-card:hover img {
  transform: scale(1.08);
}

.breakfast-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.breakfast-card h3 {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  z-index: 1;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-overlay h2 {
    color: black;
}
.modal-overlay h4{
    color: black;
}
.modal-overlay ol{
    color: black;
}
.modal-overlay ul{
    color: black;
}

.dark  .modal-overlay h2{
    color: white;
}
.dark  .modal-overlay h4{
    color: white;
}
.dark  .modal-overlay ol{
    color: white;
}
.dark  .modal-overlay ul{
    color: white;
}
.dark .modal{
    background-color: black;
}
.modal {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  max-width: 450px;
  width: 90%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.dark .close-btn{
    color: white;
}
@media (max-width: 768px) {
  .breakfast-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .breakfast-card {
    height: 220px;
  }

  .breakfast-card h3 {
    font-size: 1.2rem;
  }

  .breakfast-page {
    padding: 1.5rem;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .modal {
    max-width: 400px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .breakfast-grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
  }
  .breakfast-page h1{
    margin-top: 15%;
    font-size: 2rem;
  }
  .breakfast-card {
    height: 180px;
  }

  .breakfast-card h3 {
    font-size: 1rem;
  }

  .breakfast-page {
    padding: 1rem;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .modal {
    max-width: 90%;
    padding: 15px;
  }
}
